@model QLNHxMVC.Models.TbUserInfo

@{
    ViewData["Title"] = "Details";
}


<style>
    .details-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 75vh; /* Chiều cao của trang */
    }

    .details-content {
        max-width: 600px;
        width: 100%;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background-color: #f9f9f9;
    }

        .details-content h1 {
            margin-bottom: 20px;
        }

        .details-content dl {
            margin: 0;
        }

        .details-content dt {
            font-weight: bold;
        }

        .details-content dd {
            margin-bottom: 10px;
        }

        .details-content .actions {
            text-align: center;
            margin-top: 20px;
        }

            .details-content .actions a {
                margin: 0 10px;
            }

</style>

<div class="details-container">
    <div class="details-content">
        <h1 style="text-align: center">Thông tin chi tiết</h1>
        <form>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    Họ và tên:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FullName)
                </dd>
                <dt class="col-sm-4">
                    Ngày sinh:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BirthDay)
                </dd>
                <dt class="col-sm-4">
                    Giới tính:
                </dt>
                <dd class="col-sm-8">
                    @{
                        var sex = Model.Sex == 1 ? "Nam" : "Nữ";
                    }
                    @sex
                </dd>
                <dt class="col-sm-4">
                    Email:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-4">
                    Số điện thoại:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-4">
                    Chức vụ:
                </dt>
                <dd class="col-sm-8">
                    @{
                        var accountType = Model.Account.AccountType == "1" ? "Nhân viên" : "Quản lý";
                    }
                    @accountType
                </dd>
            </dl>
        </form>
        <div class="actions">
            <a asp-action="Edit" asp-route-id="@Model.UserInfoId" class="btn btn-primary">Edit</a> |
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
